.mobile-menu {
    display: block;

    &__wrapper{
        position: fixed;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 999999;
        background-color: #D0AD3D;
        color: aliceblue;
    }

    &__hide {
        display: none;
    }

}
