.tab {
    height: 100% !important;
    display: unset !important;
    padding-top: 20px;

    &__single-tab {
        padding-top: 0 !important;
        position: unset;
        transition: 3s !important;
        background: radial-gradient(circle closest-side at 50%, #ffffff 0%, #ffffff 100%) !important;

        &:before {
            content: "";
            position: absolute;
            width: 1px;
            height: 49px;
            background-color: rgba(0, 0, 0, 0.1);
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
        }

        &:after {
            transform: rotate(270deg);
            content:"\A";
            transition: 0.3s;
            top: 85px;
            opacity: 0;
        }

        &:last-child {
            &:before {
                display: none;
            }
        }
    }

    &__active {
        background: radial-gradient(circle closest-side at 50%, #ffffff 0%, #fff7e4 100%) !important;
        &:after {
            opacity: 1;
            transform: rotate(270deg);
            content:"\A";
            border-style: solid;
            border-width: 15px 17px 15px 0;
            border-color: transparent #fffaef transparent transparent;
            position: absolute;
            top: 85px;
                //left: -15px;
        }
    }
}

.hide {
    display: none;
}

.scroller {
    position: unset !important;
}
