.sale {
    margin: 20px 0 0 0;
    padding-bottom: 100px;
    width: 100%;
    min-height: calc(100vh - 112px);
    animation: unset;

    &__root {
        width: 100%;
        margin: 0 20px;
        text-align: center;
        cursor: pointer;
        height: 289px;
        display: flex;

        background-color:  #7e1311;
        max-width: 341px;
        max-height: 289px;

        flex-direction: column;
        justify-content: space-between;

        &__image {
            width: 75%;
            margin: 0 auto;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            background-color: #6b100e;
            color: #ffff;
            height: 100%;
            max-height: 80px;
            align-items: center;
        }

        &__text {
            display: flex;
            justify-content: center;
            align-items: baseline;
            margin-left: 30px;
            flex-direction: column;

            p {
                margin: 0;
                font-size: 14px;
            }

            h3 {
                margin: 0;
                font-size: 25px;
            }
        }

        &__price {
            color:  #ffff9e;
            font-size: 31px;/* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            margin-right: 30px;
        }
    }

    &__mainContent {
        display: flex;
        justify-content: center;
    }

    &__text-center {
        text-align: center;
    }

    &__label {
        margin-top: 130px;
        color:  #ffffff;
        font-size: 45px;/* Приближение из-за подстановки шрифтов */
        font-weight: 500;
    }
}

@import "./Sale.mobile.less";
