.home-page {
    &__tab-wrapper {
        margin: 0 0px;
        position: relative;
    }

    &__tab-center {
        display: flex;
        justify-content: center;
        margin: 0;
        height: 94px;
        background-color: #fff;

        div:first-child {
            padding-top: 0;
        }

        button {
            min-width: 125px !important;
            position: unset !important;
            height: 95px;
        }

        span {
            font-size: 17px;
            font-weight: 600;
            padding-top: 4px;
            line-height: 27px;
            text-align: center;
        }
    }

    &__open-loot-center-btn-wrapper {
        position: fixed;
        width: 68px;
        height: 68px;
        bottom: 15px;
        left: 20px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #bc4a3a;
        background: #5f0c0b;
    }

    &__over-flow-hidden {
        overflow: hidden !important;
        text-align: center
    }

    &__top-element-wrapper {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        //background-color: #2d5073;
    }

    &__tab-min-height {
        min-height: calc(100vh - 165px);
    }

    &__logo {
        position: absolute;
        top: 14px;
        left: 5%;
        width: 178px;
        height: 173px;
        z-index: 999999;
        pointer-events: none;
    }
}

@import "./HomePage.mobile.less";
